{% extends "layout2.html" %}
{% block body_content %}
<style>
     body {
  text-align: center;
  font-family: 'Lora', serif;
  background: linear-gradient(to bottom, #152334, #331B22, #27263F, #172A3A);
  background-attachment: fixed; /* subtle parallax feeling */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #D2CAC5 !important;
  min-height: 100vh;
}
</style>

<div class="account-header my-5">
  <h2 class="ethos-title">{{ user_name }} {{ surname }}'s Reviews</h2>
  <p class="ethos-subtitle">{{ email }}</p>
</div>
<hr>
{% if reviews %}
    <div class="reviews">
    {% for review in reviews %}
      <div class="card review-card flex-row mb-4" style="max-width: 600px;">
  <div class="card-body text-start">
    <h5 class="card-title">{{ review.restaurant_name }}</h5>
    <h6 class="card-subtitle mb-2"><strong>Overall:</strong> {{ review.stars }}</h6>
    <hr>
    <p class="card-text mb-1">Ambience: {{ review.Ambience }}</p>
    <p class="card-text mb-1">Service: {{ review.Service }}</p>
    <p class="card-text mb-1">Location: {{ review.Location }}</p>
    <p class="card-text mb-1">Value: {{ review.Value_for_money }}</p>
    <hr>
    <p class="card-text">{{ review.Overall_review }}</p>
    <p class="card-text"><em>Posted on {{ review.creation_date.strftime('%d %B %Y') }}</em></p>
  </div>
</div>
    {% endfor %}
    </div>

{% else %}
  <p>No reviews yet. Be the first to leave one!</p>
{% endif %}

{% endblock %}