{% extends "layout2.html" %}
{% block body_content %}

<br>
<p class="h2">{{ user_name }} {{ surname }}</p>
<p class="h5">{{ email }}</p>
<br>
<hr>
<p class="h5 text-start review-title"><em>Your Reviews</em> </p>
{% if reviews %}
    <div class="reviews">
    {% for review in reviews %}
        <div class="card review-card" style="width: 15rem;">
          <div class="card-body">
              <div class="card-title"><strong></strong>{{ review.restaurant_name }}</div>
              <h6 class="card-subtitle mb-2"><strong>Overall:</strong> {{ review.stars }}</h6>
              <hr>
              <div class="card-text">Ambience: {{ review.Ambience }}</div>
              <div class="card-text">Service: {{ review.Service }}</div>
              <div class="card-text">Location: {{ review.Location }}</div>
              <div class="card-text">Value: {{ review.Value_for_money }}</div>
              <hr>
              <div class="card-text">{{ review.Overall_review }}</div>
              <br>
              <div class="card-text date"><em>Posted on {{ review.creation_date.strftime('%d %B %Y') }}</em></div>
              <blockquote class="review-box">
          </div>
        </div>
    {% endfor %}
    </div>

{% else %}
  <p>No reviews yet. Be the first to leave one!</p>
{% endif %}

{% endblock %}