{% extends "layout2.html" %}
{% block title %}Choose a Cuisine{% endblock %}
{% block body_content %}
<style>
     body {
  text-align: center;
  font-family: 'Lora', serif;
  background: linear-gradient(to bottom, #152334, #331B22, #27263F, #172A3A);
  background-attachment: fixed; /* subtle parallax feeling */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #D2CAC5 !important;
  min-height: 100vh;
}
</style>

<div class="page-header">
    <h1>What are you hungry for?</h1>
</div>

<div class="selected-vibe">
    You have picked: <strong>{{ vibe.name }}</strong>
</div>

<div class="cuisine-grid">
    {% for cuisine in cuisines %}
        <div class="cuisine-card">
            <a href="{{ url_for('select_cuisine', cuisine_id=cuisine.cuisine_id) }}">
                <img src="{{ cuisine.image_url }}" alt="{{ cuisine.name }}">
                <div class="cuisine-name">{{ cuisine.name }}</div>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}