{% extends "layout_landing.html" %}
{% block body_content %}

<h1>Welcome to Food for Thought</h1>
{% if error %}
  <p style="color: red;">{{ error }}</p>
{% else %}
  <p>Please log in</p>
{% endif %}

<section>
   <form action="" method="POST">
      <p><label for="email">Email: </label></p>
      <p><input type="email" id="email" name="email" required/></p>
      <p><label for="password">Password: </label></p>
      <p><input type="password" id="password" name="password" required/></p>
      <p><input type="submit" value="Login" /></p>
     <a href="{{ url_for('forgot_password') }}" class="btn btn-link">
        Forgot Password?
     </a>
      <p>Don't have an account?</p>
      <p><a href="{{ url_for('signup') }}"><button type="button">Sign Up</button></a></p>
   </form>
</section>
{% endblock %}
