{% extends "layout2.html" %}

{% block body_content %}
<br />
<br />
<br />

<p class="fw-lighter">Lighter weight text (relative to the parent element).</p>

<div class="content">
    <h1>{{ name }}</h1>
    <!--<img src="./images/{{ id }}.png" />-->
    <i>Description</i>
    <ul> {{ description }} </ul>

    <br>
    <i>Address:</i><ul>{{ address }}</ul>
    <br>
    <i>Phone Number:</i><ul>{{ phone_number }}</ul>
    <br>
    <i>Website:</i><ul>{{ website }}</ul>
    <br>
    <i>Cuisine Type:</i><ul>{{ cuisine }}</ul>
    <br>
    <i>Price range:</i><ul>{{ price_range }}</ul>
    <br>
    <i>Vibe Type:</i><ul>{{ vibe }}</ul>
                               ⭐⭐⭐⭐⭐
    <strong> Click Here to Check out the Menu! </strong>
    <a href="{{ menu_link }}">
        <button> MENU </button>
    </a>
</div>



<br>
<em> Reviews </em>

<br>
<button> Leave a Review</button>

{% endblock %}