{% extends "layout2.html" %}
{% block title %}Pick a Vibe{% endblock %}
{% block body_content %}

<h1>PICK YOUR VIBE</h1>

<div class="card-container">
    <div class="card">
        {% for vibe in vibes %}

            <p style="background-image: url('{{ vibe['image_url'] }}');">
                <a href="{{ url_for('display_cuisines', vibe_id=vibe['id'])}}">
                    <span>{{ vibe['name'] }}</span>
                </a>
            </p>
        {% endfor %}
    </div>
</div>

{% endblock %}