{% extends "layout2.html" %}
{% block title %}Pick a Vibe{% endblock %}
{% block body_content %}

<style>
     body {
  text-align: center;
  font-family: 'Lora', serif;
  background: linear-gradient(to bottom, #152334, #331B22, #27263F, #172A3A);
  background-attachment: fixed; /* subtle parallax feeling */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #D2CAC5 !important;
  min-height: 100vh;
}
</style>

<div class="page-header">
    <h1>Pick your Vibe</h1>
</div>

<div class="card-container">
    <div class="card">
        {% for vibe in vibes %}

            <p style="background-image: url('{{ vibe['image_url'] }}');">
                <a href="{{ url_for('display_cuisines', vibe_id=vibe['id'])}}">
                    <span>{{ vibe['name'] }}</span>
                </a>
            </p>
        {% endfor %}
    </div>
</div>

{% endblock %}